@mixin content_dark {
  .content {
    .post {
      .tags {
        .tag {
          background-color: $alt-bg-color-dark;

          a {
            color: $fg-color-dark;
          }
          a:active {
            color: $fg-color-dark;
          }

          &.gradient-tag {
            background-color: transparent;
          }
        }
      }
    }
    .list {
      ul:not(.pagination) {
        li {
          background-color: rgba($alt-bg-color-dark, 0.3);
        }
      }

      ul {
        li {
          .title {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }

          .tags {
            .tag {
              background-color: $alt-bg-color-dark;

              a {
                color: $fg-color-dark;

                &:hover,
                &:focus {
                  color: $link-color-dark;
                }
              }

              &.gradient-tag {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;

              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}
