.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  @media only screen and (max-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 1.6rem;
  }

  header {
    margin-top: 6.4rem;
    margin-bottom: 3.2rem;

    h1 {
      font-size: 4.2rem;
      line-height: 4.6rem;
      margin: 0;

      @media only screen and (max-width: 768px) {
        font-size: 4rem;
        line-height: 4.4rem;
      }
    }
  }

  article {
    a:where(.external-link):not(:has(img)):after {
      @extend %fa-icon;
      @extend .fa-solid;
      content: fa-content($fa-var-external-link);
      padding-left: 0.5em;
      font-size: 0.75em;
      display: inline;
    }

    details {
      summary {
        cursor: pointer;
      }
    }

    footer {
      margin-top: 4rem;

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: 3.2rem 0;
        }
      }
    }

    p {
      text-align: justify;
      text-justify: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }

  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }

      .tags {
        .tag {
          display: inline-block;
          padding: 0.3rem 0.6rem;
          background-color: $alt-bg-color;
          border-radius: 0.6rem;
          line-height: 1.5em;

          a {
            color: $fg-color;
          }

          a:active {
            color: $fg-color;
          }

          &.gradient-tag {
            background-color: transparent;
            border: 1px solid transparent;
            border-image: var(--tag-gradient) 1;
            border-radius: 0;

            a {
              background: var(--tag-gradient);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;

  @media only screen and (max-width: 768px) {
    width: 17rem;
  }
}

.list {
  max-width: 120rem;

  ul {
    margin: 2.2rem 0 2.2rem 0;
    list-style: none;
    padding: 0;

    li {
      font-size: 1.8rem;

      @media only screen and (max-width: 768px) {
        margin: 1.2rem 0 1.2rem 0;
      }

      .date {
        display: inline-block;
        width: 20rem;
        flex-shrink: 0;
        text-align: right;
        margin-right: 3rem;

        @media only screen and (max-width: 768px) {
          display: block;
          text-align: right;
        }
      }

      .title {
        font-size: 1.8rem;
        width: 60rem;
        flex-shrink: 0;
        color: $fg-color;
        font-family: $font-family;
        font-weight: 700;
        text-align: justify;
        text-overflow: wrap;

        @media only screen and (max-width: 768px) {
          width: auto;
          white-space: normal;
        }

        &:hover,
        &:focus {
          color: $link-color;
        }
      }

      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.2rem;
        margin-left: 0.5rem;
        gap: 0.4rem;

        @media only screen and (max-width: 768px) {
          margin-left: 0;
          margin-top: 0.4rem;
        }

        .separator {
          margin: 0 0.1rem;
          opacity: 0.4;
        }

        .tag {
          display: inline-block;
          padding: 0.2rem 0.6rem;
          background-color: $alt-bg-color;
          border-radius: 0.4rem;

          a {
            color: $fg-color;
            opacity: 0.7;

            &:hover,
            &:focus {
              opacity: 1;
              color: $link-color;
            }
          }

          &.gradient-tag {
            background-color: transparent;
            border: 1px solid transparent;
            border-image: var(--tag-gradient) 1;
            border-radius: 0;

            a {
              background: var(--tag-gradient);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  ul:not(.pagination) {
    li {
      background-color: rgba($alt-bg-color, 0.3);
      border-radius: 1.2rem;
      padding: 0.5rem 1.6rem;
      margin-bottom: 0.3rem;

      @media only screen and (min-width: 768.1px) {
        display: flex;
        align-items: center;
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;

  .about {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;

      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;
      cursor: pointer;

      li {
        display: inline-block;
        position: relative;

        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;

          &:hover,
          &:focus {
            color: $link-color;
          }

          @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .error {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;

      @media only screen and (max-width: 768px) {
        font-size: 3.2rem;
      }
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;

      @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
      }
    }
  }
}
